legend {
  white-space: pre-wrap;
}

.answer {
  display: inline-block;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
  margin-right: 5px;
}
.wrong {
  @extend .answer;
  border-color: #ccc;
}
.correct {
  @extend .answer;
  border-color: rgb(27, 173, 1);
}

.correctAnswersContainer, legend {
  margin-bottom: 25px;
}