<div *ngIf="!isFinished">
  <div>Question {{ questionIndex + 1 }} of {{ numOfQuestionsInQuiz }}</div>
  <div *ngIf="answeredQuestions > 0">Percentage correct so far: {{ percentageCorrect }}%</div>
  
  <form 
    class="pure-form" 
    [formGroup]="QAForm" 
    (ngSubmit)="onSubmitAnswer($event)"
    *ngIf="!showFeedbackScreen">
    <fieldset>
      <legend>{{ currentQuestion }}</legend>
  
      <input type="text" name="answer" formControlName="answer" autocomplete="off">
      <button type="submit" class="pure-button pure-button-primary">Submit</button>
    </fieldset>
  </form>
  <div *ngIf="showFeedbackScreen">
    <h2>{{resultMessage}}</h2>
    <button type="button" class="pure-button pure-button-primary" (click)="hideFeedbackScreen()">Continue</button>
  </div>
</div>

<div *ngIf="isFinished">
  <div>
    <h1>You scored {{correctAnswerCount}} out of {{numOfQuestionsInQuiz}} ({{ percentageCorrect }}%)</h1>
  </div>
  <button [routerLink]="[ '/' ]" type="button" class="pure-button pure-button-primary">Go Home</button>
  <button (click)="resetQuiz()" type="button" class="pure-button pure-button-primary">Quiz me again</button>
  
</div>