:host {
  > * {
    margin-bottom: 15px;
  }
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}

.qapairs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.questionsToBeReviewedDiv {
  margin-right: 25px;
}

.qapair {
  border: 1px #ccc solid;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
  flex-basis: 293px;
  margin: 20px 10px;
  > *:not(button) {
    display: block;
    width: 100%;
  }
  legend {
    white-space: pre-wrap;
    word-break: break-word;
  }
  button {
    margin-right: 10px;
  }
  .answer {
    display: inline-block;
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
    margin-right: 5px;
  }
  .wrong {
    @extend .answer;
    border-color: #ccc;
  }
  .correct {
    @extend .answer;
    border-color: rgb(27, 173, 1);
  }
}
