<div class="banner">
  <button class="pure-button pure-button-primary" (click)="onNewQAPair()">Add Question</button>
  
  <div class="questionsToBeReviewedDiv">
    Questions to be reviewed: {{qapairsToBeAssessed.length}}
  </div>
</div>

<div class="qapairs">
  <div *ngFor="let qapair of qapairs" class="qapair">
    <h3>Question:</h3>
    <legend>{{qapair.question}}</legend>
    <div>
      <h4>Correct answers:</h4>
      <div class="answer correct" *ngFor="let correctAnswer of qapair.correctAnswers">{{correctAnswer}}</div>
    </div>
    
    <div *ngIf="qapair.wrongAnswers.length">
      <h4>Wrong answers:</h4>
      <div class="answer wrong" *ngFor="let wrongAnswer of qapair.wrongAnswers">{{ wrongAnswer }}</div>
    </div>
    <div *ngIf="qapair.explanation">
      <h4>Explanation:</h4>
      <legend>{{ qapair.explanation }}</legend>
    </div>
    <h4>Due assessment {{qapair.toBeAssessedNext | fromNow}}</h4>
    <button type="submit" class="pure-button button-warning" (click)="onEdit(qapair)">Edit</button>
    <button type="submit" class="pure-button button-danger" (click)="onDelete(qapair._id)">Delete</button>
  </div>
</div>

<app-qa-pair-editor *ngIf="shouldShowNewQAModal" (toggleQAModal)="toggleNewQAModal()" [currentQapair]="currentQapair"></app-qa-pair-editor>

