<button class="pure-button pure-button-primary" (click)="onNewQAPair($event)">Add Question</button>

<div>
  Questions to be reviewed: {{qapairsToBeAssessed.length}}
</div>

<div *ngFor="let qapair of qapairs" class="qapair">
  <h3>Question: {{qapair.question}}</h3>
  <h4>Correct answers:</h4>
  <!--<span *ngFor="let correctAnswer of qapair.correctAnswers">
      {{correctAnswer}}
    </span>-->
  <span> {{qapair.correctAnswers.join(', ')}}</span>
  
  <h4>Wrong answers:</h4>
  <span> {{qapair.wrongAnswers.join(', ')}}</span>
  <button type="submit" class="pure-button button-warning" (click)="onEdit(qapair)">Edit</button>
  <button type="submit" class="pure-button button-danger" (click)="onDelete(qapair._id)">Delete</button>
</div>

<app-qa-pair-editor *ngIf="shouldShowNewQAModal" (toggleQAModal)="toggleNewQAModal()" [currentQapair]="currentQapair"></app-qa-pair-editor>

