<button class="pure-button pure-button-primary" (click)="onNewQAPair($event)">Add Question</button>

<div>
  Questions to be reviewed: {{qapairsToBeAssessed.length}}
</div>

<div *ngFor="let qapair of qapairs" class="qapair">
  <h3>Question:</h3>
  <legend>{{qapair.question}}</legend>
  <div>
    <h4>Correct answers:</h4>
    <span class="answer correct" *ngFor="let correctAnswer of qapair.correctAnswers">{{correctAnswer}}</span>
  </div>
  
  <div *ngIf="qapair.wrongAnswers.length">
    <h4>Wrong answers:</h4>
    <span class="answer wrong" *ngFor="let wrongAnswer of qapair.wrongAnswers">{{ wrongAnswer }}</span>
  </div>
  <div *ngIf="qapair.explanation">
    <h4>Explanation:</h4>
    <legend>{{ qapair.explanation }}</legend>
  </div>
  <h4>Due assessment {{qapair.toBeAssessedInTime}}</h4>
  <button type="submit" class="pure-button button-warning" (click)="onEdit(qapair)">Edit</button>
  <button type="submit" class="pure-button button-danger" (click)="onDelete(qapair._id)">Delete</button>
</div>

<app-qa-pair-editor *ngIf="shouldShowNewQAModal" (toggleQAModal)="toggleNewQAModal()" [currentQapair]="currentQapair"></app-qa-pair-editor>

