:host {
  > * {
    margin-bottom: 15px;
  }
}

.qapair {
  border: 1px #ccc solid;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  > *:not(button) {
    display: block;
    width: 100%;
  }
  legend {
    white-space: pre-wrap;
    word-break: break-word;
  }
  button {
    margin-right: 10px;
  }
  .answer {
    display: inline-block;
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
    margin-right: 5px;
  }
  .wrong {
    @extend .answer;
    border-color: #ccc;
  }
  .correct {
    @extend .answer;
    border-color: rgb(27, 173, 1);
  }
}
