<h1>The Most Effective Way to Learn, Anywhere. Free.</h1>
<button 
    type="button" 
    class="pure-button pure-button-primary" 
    [routerLink]="['/signup']">
    Sign Up Now</button>
<div class="iphoneContainer">
  <img src="/assets/images/quiz-screen-shot-without-frame.png" alt="Splearn quiz app">
</div>
<section class="featuresContainer">
  <div>
    <img src="/assets/images/ic_redo_black.svg" alt="Repetition learning icon">
    <h3>Repetition Learning</h3>
    <p>The most efficient, effective way to learn</p>
  </div>
  <div>
    <img src="/assets/images/ic_spellcheck_black.svg" alt="Allows for spelling mistakes icon">
    <h3>Allows for spelling mistakes</h3>
    <p>Learn what you need to know; not how to spell it</p>
  </div>
  <div>
    <img src="/assets/images/ic_call_missed_outgoing_black.svg" alt="Add wrong answers icon">
    <h3>Add wrong answers</h3>
    <p>Prevent false positives such as 'Effect' or 'Affect'</p>
  </div>
  <div>
    <img src="/assets/images/ic_question_answer_black.svg" alt="Make your own questions icon">
    <h3>Make your own questions</h3>
    <p>Personalization helps retain information</p>
  </div>
  <div>
    <img src="/assets/images/ic_assignment_black.svg" alt="Testing not recall icon">
    <h3>Testing not recall</h3>
    <p>Practice recalling information, not recognizing it</p>
  </div>
</section>
<section class="signUpContainer">
  <h2 class="centerText">Sign up now</h2>
  <app-sign-up></app-sign-up>
</section>
