<ul class="topnav" id="myTopnav" #myTopnav>
  <li class="currentPage" onclick="myTopnav.classList
  .remove('responsive')"><a [ngClass]="{hoverBackGround: hoverBackgroundColor}" [routerLink]="[ '/' ]">Splearn</a></li>
  <li *ngIf="isLoggedIn" onclick="myTopnav.classList
  .remove('responsive')"><a [ngClass]="{hoverBackGround: hoverBackgroundColor}" [routerLink]="[ '/qapairs' ]">Questions</a></li>
  <li *ngIf="isLoggedIn" onclick="myTopnav.classList
  .remove('responsive')"><a [ngClass]="{hoverBackGround: hoverBackgroundColor}" [routerLink]="[ '/revise' ]">Revise ({{ numToBeAssessed }})</a></li>
  <li *ngIf="!isLoggedIn" onclick="myTopnav.classList
  .remove('responsive')"><a [ngClass]="{hoverBackGround: hoverBackgroundColor}" [routerLink]="[ '/signin' ]" [routerLinkActive]="['is-active']">Sign in</a></li>
  <li *ngIf="!isLoggedIn" onclick="myTopnav.classList
  .remove('responsive')"><a [ngClass]="{hoverBackGround: hoverBackgroundColor}" [routerLink]="[ '/signup' ]" [routerLinkActive]="['is-active']">Sign up</a></li>
  <li *ngIf="isLoggedIn" onclick="myTopnav.classList
  .remove('responsive')" (click)="onLogOut()"><a>Log out</a></li>
  <li class="menuToggle" onclick="myTopnav.classList
  .toggle('responsive')">
    <a href="javascript:void(0);"><img src="/assets/images/ic_menu_black.svg"></a>
  </li>
</ul>
