<div *ngIf="!isFinished">
  <h2 class="centerText">Question {{ questionIndex + 1 }} of {{ numOfQuestionsInQuiz }}</h2>
  <div class="centerText" *ngIf="answeredQuestions > 0">Percentage correct so far: {{ percentageCorrect }}%</div>
  
  <form 
    class="pure-form" 
    [formGroup]="QAForm" 
    (ngSubmit)="onSubmitAnswer($event)"
    *ngIf="!showFeedbackScreen">
    <fieldset>
      <div class="flexCenter">
        <legend>{{ currentQAPair?.question }}</legend>
          
        <div class="inputButtonWrap">
          <input type="text" name="answer" formControlName="answer" autocomplete="off" #answerInput autoFocusDirective>
          <button type="submit" class="pure-button pure-button-primary">Submit</button>
        </div>
      </div>
    </fieldset>
  </form>

  <div class="flexCenter" *ngIf="showFeedbackScreen">
    <h2>{{resultMessage}}</h2>
    <div class="correctAnswersContainer">
      <h4>Correct answers:</h4>
      <div class="answer correct" *ngFor="let correctAnswer of currentQAPair.correctAnswers">{{correctAnswer}}</div>
    </div>
    <legend>{{ currentQAPair?.explanation }}</legend>
    <button type="button" class="pure-button pure-button-primary" (click)="hideFeedbackScreen()" autoFocusDirective>Continue</button>
  </div>
</div>

<div *ngIf="isFinished">
  <div *ngIf="answeredQuestions">
    <h1>You scored {{correctAnswerCount}} out of {{numOfQuestionsInQuiz}} ({{ percentageCorrect }}%)</h1>
  </div>
  <div *ngIf="!answeredQuestions">
    <h1>There is currently no questions to be reviewed</h1>
  </div>
  <button [routerLink]="[ '/' ]" type="button" class="pure-button pure-button-primary" autoFocusDirective>Go Home</button>
  <button *ngIf="qapairsToBeAssessed" (click)="resetQuiz()" type="button" class="pure-button pure-button-primary">Quiz me again</button>
</div>