<form class="pure-form pure-form-stacked" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  <fieldset>

    <legend>First Name</legend>
    <input 
      id="firstName" 
      formControlName="firstName" 
      rows="1" 
      placeholder="First Name" 
      title="This field is required">

    <legend>Email</legend>
    <input 
      id="email" 
      formControlName="email" 
      rows="1" 
      placeholder="email"
      title="This field is required">

    <legend>Password</legend>
    <input 
      id="password" 
      type="password" 
      formControlName="password" 
      rows="1" 
      placeholder="Password" 
      title="This field is required">
  </fieldset>
  <button 
    type="submit" 
    class="pure-button pure-button-primary" 
    [disabled]="!signupForm.valid"
    (click)="onSubmit()">
    Submit
  </button>

  <div class="altAuthText">Already registered?</div>
  <button 
    type="button" 
    class="pure-button pure-button-primary" 
    [routerLink]="['/signin']">
    Sign In</button>
</form>