<div class="newQAModalBackDrop"></div>
<div class="newQAModal" [ngStyle]="{'top': curScrollTop + 'px'}">
  <button class="exit exitModal" (click)="toggleNewQAModal()">X</button>
  <form class="pure-form pure-form-stacked" [formGroup]="qaForm" (ngSubmit)="isNew ? doNewQA() : updateQA()">
    <fieldset>
      <legend>{{ isNew ? 'Add': 'Edit' }} a Question</legend>

      <textarea id="question" formControlName="question" rows="1" placeholder="Question" autoResize title="This field is required"></textarea>

      <div class="pure-group" formArrayName="correctAnswers">
        <div *ngFor="let correctAnswer of correctAnswers.controls; let i=index" class="answerInputContainer nestForInput">
          <textarea rows="1" [formControlName]="i" placeholder="Correct Answer" autoResize title="This field is required"></textarea>
          <button type="button" (click)="removeAnswer(i, 'correctAnswers')" class="exit deleteAnswer">X</button>
        </div>
        <button class="pure-button" (click)="addAnswer('correctAnswers')" type="button">+ Add another Correct Answer</button>
      </div>

      <div class="pure-group" formArrayName="wrongAnswers">
        <div *ngFor="let wrongAnswer of wrongAnswers.controls; let i=index" class="answerInputContainer nestForInput">
          <textarea rows="1" [formControlName]="i" placeholder="Wrong Answer" autoResize title="This field is required"></textarea>
          <button type="button" (click)="removeAnswer(i, 'wrongAnswers')" class="exit deleteAnswer">X</button>
        </div>
        <button class="pure-button" (click)="addAnswer('wrongAnswers')" type="button">+ Add another Wrong Answer</button>
      </div>

      <textarea id="explanation" formControlName="explanation" rows="1" placeholder="Explanation" autoResize></textarea>

      <button type="submit" class="pure-button pure-button-primary" [disabled]="!qaForm.valid">Save</button>
    </fieldset>
  </form>
</div>